.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main h1 {
    font-size: 46px;
	font-weight: 300;
	line-height: 78px;
     color: #EC9B69;
}

.main p {
	margin-top: 20px;
	font-size: 24px;
	line-height: 34px;
	color: #EC9B69;
	width:300px;
}

.main img {
    width: 40%;
	max-width: 1100px;
	height: 100%;
	max-height: 680px;
}

@media (max-width:768px) {
    .main {
		padding: 4rem;
		display: flex;
		flex-direction:column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgb(134, 125, 108);
	}

	.main h1 {
    font-size: 76px;
	font-weight: 900;
	line-height: 78px;
    color: #4f2158;
	width:90px;
	}

	.main p {
		margin-top: 20px;
		font-size: 16px;
		line-height: 34px;
		color: #4f2158;
	
	}

	.main img {
		margin-top: 4rem;
		width: 100%;
		max-width: 1100px;
		height: 100%;
		max-height: 680px;
		align-items: center;
	}
}